@model BLL.DTO.EmployeeDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}﻿
@Html.ActionLink("Employee Index", "Index", "Employee", new{ area = ""}, new{ @class ="btn btn-danger"} )

<h1>Employee details</h1>
<ul>
    <li>ID: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>UserName: @Model.UserName</li>
    <li>Password: @Model.Password</li>
    <li>Salary: @Model.Salary</li>
    <li>AdminID: @Model.AdminId</li>
</ul>
<h1>Admin Info</h1>
<ul>
    <li>ID: @Model.Admin.Id</li>
    <li>Name: @Model.Admin.Name</li>
    <li>UserName: @Model.Admin.UserName</li>
    <li>Password: @Model.Admin.Password</li>
    <a href="/Admin/Details/@Model.Admin.Id">Admin Details</a>
</ul>
